{% extends "@SonataAdmin/CRUD/base_show_field.html.twig" %}

{% block field %}
    <a href="{{ additional_output_path ~ "/" ~object.document }}"><i class="fa fa-download"></i> Download</a>
{% endblock %}
