<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Nama</th>
        <th>Afiliasi</th>
{#        <th>Nama</th>#}
    </tr>
    </thead>
    <tbody>
    {% for lecturer in object.communityServiceLecturers %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ lecturer.lecturer.name }}</td>
            <td>{{ lecturer.lecturer.affiliation }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>