<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th width="30">#</th>
        <th>Judul</th>
        <th>Authors</th>
        <th>Tahun</th>
{#        <th>Level</th>#}
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ path('object_show', {id: book.id, type: "book"}) }}">{{ book.title }}</a></td>
            <td>{% include 'front/lecturer/people-names.html.twig' with {people: book.bookLecturers, lecturer: lecturer } %}</td>
            <td>{{ book.year }}</td>
{#            <td>{% include 'front/field/level.html.twig' with {level:journal.level} %}</td>#}
    {% endfor %}

    </tbody>
</table>