{#<div class="box box-primary">#}
{#    <div class="box-header">#}
{#        <h3 class="box-title">testing</h3>#}
{#    </div>#}
{#    <div class="box-body">#}

{#    </div>#}

    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('homepage') }}"><i class="fa fa-check"></i> Website</a></li>
            <li class="list-group-item"><a href="{{ path('app_logout') }}"><i class="fa fa-check"></i> Logout</a></li>
        </ul>
    </div>
