{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div class="box box-success">
        <div class="box-body">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Simpan</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block title %}
    Ubah Biodata
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}
